.console {
  width: 700px;
  margin: auto;
  padding-top: 20px;
}
.console-window {
  width: 670px;
  height: 270px;
  background-color: #000;
  margin: 0;
  color: #fff;
  padding: 15px;
  font-size: 14px;
}
.console-line {
  width: 700px;
  height: 32px;
  background-color: #000;
  font-size: 14px;
}
.console-line-start{
  color: #fff;
  line-height: 30px;
  font-size: 14px;
}
.console-line input {
  margin-left: 6px;
  width: 670px;
  height: 30px;
  background-color: #000;
  color: #fff;
  border: none;
  outline: none;
  font-size: 14px;
  font-family: monospace, monospace;
}
